<!--Removing non-used search  bar-->
<!--<div class="searchBoxWrapper fa-border">-->

<!--  &lt;!&ndash; Search Box &ndash;&gt;-->
<!--  <input [formControl]="this.searchTextBox"   [matAutocomplete]="autocomplete1"-->
<!--         matInput type="text" id="searchBox" placeholder="Enter Criteria..." aria-label="search box" />-->


<!--  &lt;!&ndash; Search Icon &ndash;&gt;-->
<!--  <span class="searchBoxIcon">-->
<!--    <i class="fa fa-search"></i>-->
<!--  </span>-->


<!--  &lt;!&ndash; Show Popup autocomplete entries for matching search results &ndash;&gt;-->
<!--  <mat-autocomplete #autocomplete1="matAutocomplete" panelWidth="auto"-->
<!--                    (optionSelected)="this.goToDetailsPage($event.option.value)">-->

<!--    <mat-option *ngFor="let match of this.searchMatchesToShowObs | async" [value]="match">-->
<!--      {{match.name}}-->
<!--    </mat-option>-->

<!--  </mat-autocomplete>-->

<!--</div>-->
